<p id="notice"><%= notice %></p>

<p>
  <strong>Продукт:</strong>
  <%= @line_item.product %>
</p>

<p>
  <strong>Корзина:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Назад', line_items_path %>
